<!--Created by: Amanda Nunes Sardella, Student Number #301288044 - CENTENNIAL COLLEGE - COMP229 - SEC001 - SUMMER 2023-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-black">
      <h6 class="display-16 navbar-text">
        &copy; Copyright Amanda Nunes Sardella - COMP 246 - Summer 2023
      </h6>
    </nav>
  </footer>
</html>
