<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-black">
    <h6 class="display-16 navbar-text">
      &copy; Copyright Amanda Nunes Sardella - COMP 246 - Summer 2023
    </h6>
  </nav>
</footer>
