<!-- 
  File: bottom_nav.ejs
  Student Name: Amanda Nunes Sardella
  Student ID: #301288044
  COMP229 - SEC001 - SUMMER 2023 - CENNTENIAL COLLEGE
  June 9th, 2023
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      footer {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-black">
      <h6 class="display-16 navbar-text">
        &copy; Copyright Amanda Nunes Sardella - COMP 229 - SEC 001 - Summer
        2023
      </h6>
    </nav>
  </footer>
</html>
