/*
  File: styles.css
  Student Name: Amanda Nunes Sardella
  Student ID: #301288044
  COMP229 - SEC001 - SUMMER 2023 - CENNTENIAL COLLEGE
  June 9th, 2023
*/
body {
  max-width: 500px;
  margin: auto;
}
